# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xcworkspace
xcshareddata/
# CocoaPods
Pods/
# Carthage
Carthage/Build/
# Swift Package Manager
.build/
# fastlane
.fastlane/
# Playgrounds
timeline.xctimeline
playground.xcworkspace
# macOS
*.DS_Store
# Node
node_modules/
